@font-face {
    font-family: fontsite;
    src: url(/lemon_milk/LEMONMILK-Regular.otf);
}



header{
    background-color: #fff;   
    width: 126.8%;
    margin-top: -0.6%;
    margin-left: -13.5%;
}



body{
    background-color: #240747;
    margin-left: 200px;
    margin-right: 200px;
}



.container{
    background-color: #fff;
    display: flex;
}



.cabeca{
    display: flex;
}



.logo{
    margin-top: -2.7%;
    margin-bottom: -3%;
    margin-left: -0.3%;
}



#pagei{
    margin-top: 30px;
    margin-left: 33%;
    color: #430096;
    font-family: fontsite;
}



#linha1{
    background-color: #fff;
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-top: -6%;  
}



.botaoa{
    width: 200px;
}



h5{
    text-align: left;
    color: #a0a0a0; 
}



h2{
    text-align: left;
    color: blueviolet;
}



h6{
    text-align: left;
}



.destaques{
    text-align: center;
    color: #240747;
    background-color: #fff;
    margin-top: -2%;
    margin-bottom: -2%;
    text-align: left;
}



#linha2{
    background-color: #fff;
    width: 100%;
    
    display: flex;
    justify-content: center; 
}



#titulo1{
    margin-left: 90px;
    margin-top: 40px;
    font-family: fontsite;
}



.titulo2{
    text-align: center;
    color: #240747;
    background-color: #fff;
    margin-top: -2%;
    margin-bottom: -2%;
    text-align: left;
}



#titulo2{
    margin-left: 90px;
    margin-top: 30px;
    font-family: fontsite;
}



#linha1dep{
    background-color: #fff;
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-top: 2%;
}



#linha2dep{
    background-color: #fff;
    width: 100%;
    
    display: flex;
    justify-content: center;
    margin-top: 0%;
}



#backsetup{
    width: 100%;
}



#rodape{
    display: flex;
    width: 126.6%;
    margin-bottom: -100%;
    background-color: rgb(201, 201, 201);
    margin-left: -13.3%;
    margin-top: -1.5%;   
}



.botaoa{
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}



#rodape{
    justify-content: center;
}



.sobre{
    font-family: fontsite;
}



#dep{
    font-family: fontsite;
}



.botao2:hover{
    transition: 0,5s;
    border-color: white;
    box-shadow: 1px 10px 20px 1px black,0 17px 50px 0 rgba(0,0,0,0.19);
}